{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Courses to Shopping Cart</title>
    <link rel="stylesheet" href="{% static 'backend/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/custom.css' %}">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <img src="{% static 'backend/img/abu_logo.jpeg' %}" id="logo">
                </div>
                <div class="two columns u-pull-right menu">
                    <ul class="menu-items">
                        <li class="menu-item"><a href="{% url 'homepage-url' %}">Home</a></li>
                        <li class="menu-item"><a href="{% url 'login-url' %}">Login</a></li>
                        <li class="menu-item"><a href="{% url 'signup-url' %}">Signup</a></li>
                    </ul>
                    <ul>
                        <li class="submenu">
                            <img src="{% static 'backend/Shopping-Cart.png' %}" id="img-cart">
                            <div id="shopping-cart">
                                <table id="cart-content" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <a href="#" id="clear-cart" class="button u-full-width">Clear Cart</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <!-- <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="hero-content">
                        <h2>Learn Something Today</h2>
                        <p>Special Offer, any course N150</p>
                        <form action="#" id="search" method="post" class="form">
                            <input class="u-full-width input" type="text" placeholder="What Do You Want To Learn? " id="search-course">
                            <input type="submit" id="submit-search-course" class="submit-search-course">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-bar">
        <div class="container">
            <div class="row">
                <div class="four columns icon icon1">
                    <p>Interesting. online courses <br> Learn new skills</p>
                </div>
                <div class="four columns icon icon2">
                    <p>Expert Instructors<br> Learn with different teach styles</p>
                </div>
                <div class="four columns icon icon3">
                    <p>Lifetime access <br> learn at your own pace</p>
                </div>
            </div>
        </div>

    </div> -->

    <div class="gap"></div>

    <div id="courses-list" class="container">
        <h1 id="heading" class="heading">Online Courses</h1>
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/welding.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>WELDING</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="1">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/catering2.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>CATERING SERVICES<h4>
                                <p>Fatima Baffa Jibrin</p>
                                <img src="{% static 'backend/img/stars.png' %}">
                                <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                                <a href="#" class="u-full-width button-primary button input add-to-cart add-btn"
                                    data-id="2">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/camera.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>PHOTOGRAPHY</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="3">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>

        </div>
        <!--.row-->
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/garment.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>GARMENT MAKING</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="4">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course5.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Home Decor with recycled products</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="5">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course1.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Web Design for beginners</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="6">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course2.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Learn to cook mexican food</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart add-btn" data-id="7">Add
                            to Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course3.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Build a Music Studio</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="8">Add to
                            Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course4.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Harvest your own fruits and vegetables</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="9">Add to
                            Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course5.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Cook home cookies</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="10">Add to
                            Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course1.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>Modern JavaScript</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="11">Add to
                            Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
            <div class="four columns">
                <div class="card">
                    <img src="{% static 'backend/img/course2.jpg' %}" class="course-image u-full-width">
                    <div class="info-card">
                        <h4>100 Natural recipes</h4>
                        <p>Fatima Baffa Jibrin</p>
                        <img src="{% static 'backend/img/stars.png' %}">
                        <p class="price">N200 <span class="u-pull-right ">N150</span></p>
                        <a href="#" class="u-full-width button-primary button input add-to-cart" data-id="12">Add to
                            Cart</a>
                    </div>
                </div>
                <!--.card-->
            </div>
        </div>
        <!--.row-->
    </div>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <nav id="primary" class="menu">
                        <a class="link" href="#">For Business</a>
                        <a class="link" href="#">Become an Instructor</a>
                        <a class="link" href="#">Mobile Applications</a>
                        <a class="link" href="#">Support</a>
                        <a class="link" href="#">Help</a>
                    </nav>
                </div>
                <div class="four columns">
                    <nav id="secondary" class="menu">
                        <a class="link" href="#">About Us</a>
                        <a class="link" href="#">Work with us</a>
                        <a class="link" href="#">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'backend/js/app.js' %}"></script>

</body>

</html>