{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'backend/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="login-section">
            <div class="login-card">
                <h4 class="login-title">Login</h4>
                <p class="sign-in">Sign into your account</p>

                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}

                <form id="login_form" class="login-form" method="POST">
                    {% csrf_token %}
                    <div class="form-control">
                        <input id="username" type="text" placeholder="email" name="username" class="">
                        <small class="error-message"></small>
                    </div>
                    <div class="form-control">
                        <input id="password" type="password" placeholder="password" name="password" class="">
                        <small class="error-message"></small>
                    </div>
                    <button id="submit" type="submit">Submit</button>
                    <p>Don't have an account?</p>
                    <a href="signup.html">Click here to create an account.</a>
                </form>
            </div>
            <div class="login-banner">
                <img src="{% static 'backend/img/abu_logo.jpeg' %}" alt="abu_logo">
                <h4>Ahmadu Bello University</h4>
            </div>
        </div>
        <p class="copy-right">Powered by: &copy; 2021 <i>FatiBaffaj</i></p>
    </div>

    <script src="{% static 'backendjs/login.js' %}"></script>
</body>

</html>